@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  box-sizing: border-box;
}

body {
  background: none;
}

figure {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock {
  bottom: -98px;
  left: 990px;
  position: relative;
  width: 100px;
  height: 100px;
  border: 8px solid black;
  border-radius: 100%;
  background: red;
}
.clock div {
  position: absolute;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  font: 400 20px 'Montserrat';
}
.clock .twelve {
  top: 20px;
  left: 50%;
}
.clock .six {
  bottom: 0;
  left: 50%;
}
.clock .three {
  top: 50%;
  left: 20px;
}
.clock .nine {
  top: 50%;
  right: 10px;
}
.clock .hour-hand, .clock .minute-hand, .clock .second-hand {
  top: 50%;
  left: 50%;
  transform-origin: top center;
  background: black;
}
.clock .hour-hand {
  width: 3pxpx;
  height: 25px;
  transform: translateX(-50%) rotate(180deg);
}
.clock .minute-hand {
  width: 2px;
  height: 32px;
  transform: translateX(-50%) rotate(180deg);
}
.clock .second-hand {
  width: 1px;
  height: 38px;
  transform: translateX(-50%) rotate(180deg);
}
.clock .center {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
}
